<!doctype html>
<html>
<head>
    <title>Casino</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="profile1">
<div class="container">

    <div id="casinoLogin" class="jumbotron text-center">
        <!-- <h1>WILLOW'S SMOOTHIE</h1>
        <img src="img/flower3.png" alt=""> -->

        <p> Casino Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>



<h2 id="title">PLAY ROULETTE</h2>
<div id="wheel">
  <div id="ball">

  </div>
</div>

<div id="cashier" class="CashierContainer">
   <!-- <div class="CashierTitle">
     <h2>Cashier: Input Order Below</h2>
   </div> -->

     <div id="inputBet">
       <h2>Please Select Your Bet Below</h2>
       <input id="moneyBet" type="text" value="" placeholder="Enter Bet Amount $$" name="bet">
       <select name="color" id="colorInput">
             <option value="red">Red</option>
             <option value="black">Black</option>
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
             <option value="4">4</option>
             <option value="5">5</option>
             <option value="6">6</option>
             <option value="7">7</option>
             <option value="8">8</option>
             <option value="9">9</option>
             <option value="10">10</option>
             <option value="11">11</option>
             <option value="12">12</option>
             <option value="13">13</option>
             <option value="14">14</option>
             <option value="15">15</option>
             <option value="16">16</option>
             <option value="17">17</option>
             <option value="18">18</option>
             <option value="19">19</option>
             <option value="20">20</option>
             <option value="21">21</option>
             <option value="22">22</option>
             <option value="23">23</option>
             <option value="24">24</option>
             <option value="25">25</option>
             <option value="26">26</option>
             <option value="27">27</option>
             <option value="28">28</option>
             <option value="29">29</option>
             <option value="30">30</option>
             <option value="31">31</option>
             <option value="32">32</option>
             <option value="33">33</option>
             <option value="34">34</option>
             <option value="35">35</option>
             <option value="36">36</option>
         </select>
         <button id="submitPost" type="submit">Submit</button>
         <a href="/">
        <button id="btn" type="button" name="button"> Play Again</button>
        </a>
        </div> <h3 class="results"></h3> </div>


</div>
</div>

<h3 class="results"></h3>

 </div>

 <script type="text/javascript" src="main.js">

 </script>
</body>
</html>
